SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /britannia-breads-batch-code-dashboard
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /britannia-breads-batch-code-dashboard/index.html [L]
</IfModule>